# ESP32 build artifacts
build/
build.clang/

# CMake build files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Compiled objects
*.o
*.elf
*.bin

# Logs
*.log

# Python
__pycache__/
*.pyc

# IDE/editor settings
.vscode/
.idea/
*.swp

# Backup
*~
*.bak

# mac
.DS_Store
